<!DOCTYPE html>
<title>cozyourebasic</title>
<link rel="stylesheet" href="https://unpkg.com/picnic">
<style type="text/css" media="screen">
    .bespokebutton {
        background: #D0D3D4;
    }
    body {
          background-color: #C0C0C0;
        }
    </style>
    <body>
    <button class="bespokebutton">waving an arm in your face clicking fingers</button>
      <article class="card">
      <header>
        <h3>coz you're basic...wallet app</h3>
      </header>
      <div class="flex one" style="width: 650px;height: 250pn">
      <button class="bespokebutton">Please input ID</button>
      </div>
      <form action="/wallet" method='POST'>
        {% csrf_token %}
      <div >
        <textarea name="enter_id"> please input id </textarea>
        </div>
      <div class="flex one" style="width: 650px;height: 250pn">
      <input class='myCoolButton' value="Save" type="submit" align="center">
         </div>
    
      
    </form>
    </article>
      
    </body>