<!DOCTYPE html>
<title>cozyourebasic</title>
<link rel="stylesheet" href="https://unpkg.com/picnic">
<style type="text/css" media="screen">
    .bespokebutton {
        background: #D0D3D4;
    }
    body {
          background-color: #C0C0C0;
        }
    </style>
    <body>
    <button class="bespokebutton">may i 'elp you?</button>
      <article class="card">
      <header>
        <h3>coz you're basic...</h3>
      </header>
      
      <form action="/deephash" method='POST'>
        {% csrf_token %}
      
      <div class="flex one" style="width: 650px;height: 250pn">
      <input class='myCoolButton' value="mine coin?" type="submit" align="center">
         </div>
    
      
    </form>
    </article>
      <p>
        {{mined}}
      </p>
    </body>